/* 

 Primary color: #F54305 

 Secondary-color: #F46E04 

 warning: #FAE3C0 

 dark text: #FA1702 

 light-text: #F7B919 

 

  Fonts 

  .bree-serif-regular { 

  font-family: "Bree Serif", serif; 

  font-weight: 400; 

  font-style: normal; 

} 

  

.merriweather-light { 

  font-family: "Merriweather", serif; 

  font-weight: 300; 

  font-style: normal; 

} 

 

.merriweather-regular { 

  font-family: "Merriweather", serif; 

  font-weight: 400; 

  font-style: normal; 

} 

 

.merriweather-bold { 

  font-family: "Merriweather", serif; 

  font-weight: 700; 

  font-style: normal; 

} 

 

.merriweather-black { 

  font-family: "Merriweather", serif; 

  font-weight: 900; 

  font-style: normal; 

} 

 

.merriweather-light-italic { 

  font-family: "Merriweather", serif; 

  font-weight: 300; 

  font-style: italic; 

} 

 

.merriweather-regular-italic { 

  font-family: "Merriweather", serif; 

  font-weight: 400; 

  font-style: italic; 

} 

 

.merriweather-bold-italic { 

  font-family: "Merriweather", serif; 

  font-weight: 700; 

  font-style: italic; 

} 

 

.merriweather-black-italic { 

  font-family: "Merriweather", serif; 

  font-weight: 900; 

  font-style: italic; 

} 

*/

 /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 10px;
	padding: 10px;
	border: 10px;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
  background-color:#F7B919
}

 😗/*   my styles   */😗
 figure {
  border: 1px #cccccc solid;
  padding:5px;
  margin: 10px;
}

figcaption {
  background-color: #F46E04;
  color: white;
  font-style: italic;
  padding: 2px;
  text-align:left;
  width:fit-content;
  border-radius: 10%;
}
  h1,h2,h3{
    text-align: center;
    background-color: #F7B919;
    color: white;
    width: 50%;
    margin: auto;
    font-size: x-large;
    border-radius: 40%;
}

#city{
  text-align: center;
  border-radius: 45%;
}

.container {
  background-color: #FAE3C0;
  color: aliceblue;
  border-radius: 100px;
  margin: 20px;
  padding: 20px;
}

nav{
    text-align: center;
    font-size: x-large;
}

nav a{
  text-decoration: none;
  margin-left: 20px;
  background: purple;
  padding: 5px 10px;
  color: aliceblue;
  border-radius: 10px;
}

nav a:hover{
  background-color: whitesmoke;
  color: blueviolet;
}

b{
  font-weight: bold;
  color: #FA1702;
}
u{
 color: #F46E04;
}

p{
  color: #FA1702;
  font-size: large;
}

.positioned-paragraph {
  position: relative; /* Position absolutely */
  left: 50px; /* Distance from the left */
}

.container{
  border: #F46E04;
  max-width: fit-content;
}
article {
  float: left;
  padding: 10px;
  margin: auto;
  width: 30%;
  background-color: #f1f1f1;
  height: 700px;
}

footer {
  background-color: #FA1702;
  border-radius: 100px;
  width: auto;
  font-family:  "Merriweather", serif;
  text-align: center;
  font-size: large;
  color: black;
}

#footer-font{
  color:#f1f1f1;

}

#aside-right{
  text-align: right;
  border-radius: 50px;
}

#aside-left{
  text-align: left;
  font-size: xx-large;
}

  * {
    box-sizing: border-box;
  }
  
  .row {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column {
    flex: 55.55%;
    padding: 15px;
    margin: auto;
    max-width: max-content;
  }

img{
  border-radius: 10%;
  background-color: lightblue;
}

#move-right{
  position:relative; /* Make sure it's positioned relative or absolute */
  left: 700px; /* Move 50 pixels to the right */
  bottom: 20px; /* Move 20 pixels down */
  font-size: large;
  
}

.moved-image {
  position:relative; /* Make sure it's positioned relative or absolute */
  left: 300px; /* Move 50 pixels to the right */
  bottom: 10px; /* Move 20 pixels down */
}

#trans{
  position:relative; /* Make sure it's positioned relative or absolute */
  left:600px; /* Move 50 pixels to the right */
  height: 20px;
}

#rock{
  position:relative;
  right: 500px;
  top: 500px;
}

#text{
  border: 2px solid purple;
}

#page-1{
  background-color: plum;
  line-height: 30px;
  text-align: right;
}

p.dotted{
  border-style: dotted;
  color: #F46E04;
}

.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}